html,
body,
main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: blue;
}
@font-face {
	font-family: "space-adventure-cursiva";
	src: url(./font-face/SpaceAdventure-VG4ZV.ttf);
}
@font-face {
	font-family: "space-adventure";
	src: url(./font-face/SpaceAdventure-VG4ZV.ttf);
}

main {
	display: flex;
}
.left,
.right,
.center{
	background-color: #33a8c7;
	width: 30%;
	height: 95%;
	padding-top: 2%;
}

.center{
	width: 40%;
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

.right_img,
.left_img {
	margin-top: 11%;
}

.rules {
	width: 100%;
	height: 45%;
	display: block;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 15%;
	
}

h1 {
	font-family: "space-adventure-cursiva";
	font-size: 325%;
	color: #2d2d2d;
	margin-bottom: 4%;
	margin-top: -5%;
	margin-left: 3%;
}

p {
	font-family: "Segoe UI symbol regular";
	font-size: 110%;
	color: #2d2d2d;
}
.content{
	margin-top:7%;
	height:83%;
	position: relative;
	background-color:white;
	border-radius: 13% 11% 16% 13% / 93% 90% 83% 100%;
	border: 5px solid #2d2d2d;
}

.combination{
	margin:auto;
	width: 92%;
	height: 10%;
	background-color: white;
	border-radius: 13% 11% 16% 13% / 93% 90% 83% 100%;
}
.balls_content{
	width: 100%;
	height:89%;
	display:flex;
	background:white;
	border-radius:5% 4% 14% 11% / 93% 90% 90% 100%;
	border-bottom:3px solid #2d2d2d;
	border-top:3px solid #2d2d2d;
}
.board{
	width: 70%;
	height:100%;
}
.pegs{
	width: 30%;
	height: 100%;
	border-radius: 4% 0% 0% 3% / 44% 16% 59% 48%;
	border-left:5px solid #2d2d2d; 
}
footer {
	background-color:  #fdf148;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
	text-align: center;
	font-size: 70%;
}

.credit{
	margin-top:0.5%;
	color: #2d2d2d;
}

#hasWon{
	display: none;
}
